<section class="footer">
    <div>
        <div class="footer-row reveal">
            <div class="footer-col social">
                <ul>
                    <li>
                        <a href="#"
                            ><i class="fa-brands fa-facebook"></i
                            ><span>@facebook</span></a
                        >
                    </li>
                    <li>
                        <a href="#"
                            ><i class="fa-brands fa-instagram"></i
                            ><span>@instagram</span></a
                        >
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/justin-barbas-208347276/"
                            ><i class="fa-brands fa-linkedin"></i
                            ><span>in/justin-barbas-208347276</span></a
                        >
                    </li>
                    <li>
                        <a href="https://github.com/Justinbarbas1028"
                            ><i class="fa-brands fa-github"></i
                            ><span>@Justinbarbas1028</span></a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing.
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        <p class="copyright">&copy; 2026 Justin Barbas. All rights reserved.</p>
    </div>
</section>
